<head>
  <nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
    <ul id="main-menu">
        <li id="bachelor"><a href="/posts/?category=학사">학사</a></li>
        <li id="money"><a href="/posts/?category=장학금/등록금">장학금/등록금</a></li>
        <li id="volunteer"><a href="/posts/?category=봉사">봉사</a></li>
        <li id="graduate"><a href="/posts/?category=졸업">졸업</a></li>
        <li id="practicum"><a href="/posts/?category=실습">실습</a></li>
        <li id="facility"><a href="/posts/?category=시설">시설</a></li>
        <li id="class"><a href="/posts/?category=수업">수업</a></li>
        <li id="domitory"><a href="/posts/?category=서록관" id="domm">서록관</a>
            <ul id="sub-menu">
                <li id="dom-1"><a href="/posts/?category=서록1관">서록1관</a></li>
                <li id="dom-2"><a href="/posts/?category=서록2관">서록2관</a></li>
            </ul>
            </li>
    </ul>
</nav>
</head>
