<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
    <ul id="main-menu">
        <li id="bachelor"><a href="#">학사</a></li>
        <li id="money"><a href="#">장학금/등록금</a></li>
        <li id="volunteer"><a href="#">봉사</a></li>
        <li id="graduate"><a href="#">졸업</a></li>
        <li id="practicum"><a href="#">실습</a></li>
        <li id="facility"><a href="#">시설</a></li>
        <li id="class"><a href="#">수업</a></li>
        <li id="domitory"><a href="#" id="domm">서록관</a>
            <ul id="sub-menu">
                <li id="dom-1"><a href="#">서록1관</a></li>
                <li id="dom-2"><a href="#">서록2관</a></li>
            </ul>
            </li>
    </ul>
</nav>