
<label for="category" id="new-category">분류</label>
<div class="dropdown">
  <select id="category" name="category" required autofocus>
      <option value="학사">학사</option>
      <option value="장학금/등록금">장학금/등록금</option>
      <option value="봉사">봉사</option>
      <option value="졸업">졸업</option>
      <option value="실습">실습</option>
      <option value="시설">시설</option>
      <option value="수업">수업</option>
      <option value="서록1관">서록1관</option>
      <option value="서록2관">서록2관</option>
  </select>
</div>
