<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>main</title>
 <style>
 @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
  
body {
    font-family: 'Nanum Gothic', sans-serif;
    background-image:url('/images/origin3.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top;
    margin: 0; padding: 0;
}

.login-box {
  width: 100%;
  text-align: right;
  color: white;
  text-decoration: none;
  text-align: right;
}

.login {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: right;
  width: 100%;
}

.login > .login-box > a {
  color: white;
  text-decoration: none;
  text-align: right;
}

#login-box {
  margin: 10px;
  margin-right: 30px;
}

#login-box > a {
  color: white;
  text-decoration: none;
  text-align: right;
}

#logo-box1 {
  margin-top: 30px;
  text-align: center;
}

#logo-box2 {
  text-align: center;
}

 </style> 
</head>



<body>
  <span class="login" height="70px">
    <div id="login-box">
      <a href="#">로그인</a>
      &nbsp;&nbsp;
      <a href="#">회원가입</a>
    </div>
  </span>
  <div id="logo-box1"><img src="images/intro_logo.png" width="260px" height="224px"></div>
  <div id="logo-box2"> <a href="/posts"><img src="images/intro_logo2.png" width="323px" height="99px"></a></div>
  <a href="/posts">들어가기이이이</a>
</body>
</html>